*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body > div> img{
    height: 100px;
    justify-content: space-between;
    
}
body > div{
    width: 100%;
   
    height: 100px;
}
body >nav{
    margin-top: 10px;
}